@font-face {
    font-family: 'gilroyextrabold';
    src: url('gilroyextrabold-webfont.woff2') format('woff2'),
         url('gilroyextrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('gilroylight-webfont.woff2') format('woff2'),
         url('gilroylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: "Open Sans Light", sans-serif;
	line-height: 30px;
	color: black;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.title-2{
	font-size: 47px;
	line-height: 120%;
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
}

.title-3 {
	font-size: 16px;
	font-family: "Gilroy ExtraBold", sans-serif;
}

.slider-1-title {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

/*header*/

.logo {
	display: block;
	font-size: 48px;
	font-family: "Gilroy ExtraBold", sans-serif;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 20px;
}

.logo-footer {
	color: #f0c52e;
}


.main-header {
	width: 1160px;
	margin: 0 auto;
	height: 260px;
	background: #f7e296;
	margin-top: 40px;
	padding-top: 40px;
}

.main-header .logo {
	position: absolute;
	top: 26px;
	left: 153px;
}

.main-header .logo:hover,
.user-block-item:hover,
.menu > a:hover {
	opacity: 0.6;
}

.main-header .logo:active,
.user-block-item:active {
	opacity: 0.3;
}

.container {
	padding: 0 60px;
}

.search {
	position: relative;
  	margin-bottom: 20px;
	float: left;
	width: 450px;
	height: 50px;
}

.user-block {
	float: right;
	width: 475px;
}

.user-block-item {
	position: relative;
	float: right;
	font-family: "Open Sans Light", "Times New Roman", sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.user-block-item::before {
	content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 13px;
    background: url(../img/sprite.png) no-repeat;
}

.exit {
	float: left;
	margin-left: 0;
}

.basket {
	margin-left: 65px;
}

.exit::before {
	top: 12px;
	left: -25px;
	background-position: -10px -46px;
}

.compare::before {
	top: 14px;
	left: -21px;
    background-position: -74px -10px;
}

.basket::before {
	top: 12px;
	left: -25px;
	background-position: -10px -10px;
}

.menu {
	position: relative;
	clear: both;
}

.menu li {
	display: inline-block;
}

.menu  a {
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: black;
	line-height: 120%;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	text-decoration: none;
}

.list-menu {
	padding: 0;
	margin: 0;
}

.list-menu > li {
	position: relative;
}

.list-menu .sub-menu {
	position: absolute;
	left: -60px;
	display: none;
	margin: 0;
	padding: 0;
}

.list-menu > li:hover .sub-menu {
	display: block;
	width: 1100px;
	height: 200px;
	padding-left: 60px;
	background-color: #f7e296;
	z-index: 1;
}

.sub-menu a {
	font-family: "Open Sans Light", "Times New Roman", sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	color: black; 
	padding: 5px 0;
	margin-bottom: 20px;
	text-transform: none;
	letter-spacing: 1px;
}

.sub-menu li {
	min-width: 200px;
}

.catalog-products a {
	position: relative;
	padding-right: 319px;
}

.index-catalog::after{
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 1px;
	left: 228px;
	background-image: url(../img/sprite.png);
	background-position: -116px -98px;
}

.menu-divilery {
	padding-right: 30px;
}

.menu-guarantee {
	padding-right: 100px;
}

.menu-contacts {
	float: right;
}

/*sliders*/


.slider {
	position: relative;
	margin-top: -108px;
	margin-bottom: 110px;
}

.slider input[type=radio] {
	position: absolute;
	opacity: 0;
}

.center {
	width: 1160px;
	height: 400px;
    margin: 0 auto;
	margin-bottom: 40px;
}

.sliders-center {
	width: 1160px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.slide {
	position: relative;
    top: -112px;
   	min-height: 400px;
    padding-right: 50px;
}

.slide:nth-child(1) {
	display: block;
}

.slide img {
	padding-left: 90px;
}

.description-slider {
	margin-top: 80px;
	width: 510px;
	float: right;
}

.description-slider img {
	float: left;
}

.description-slider p {
	margin: 0;
}

.description-slider::before {
	content: "";
    position: absolute;
    width: 100px;
    height: 7px;
    background-color: white;
    top: 35px;
}

.slider-number {
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
	font-size: 179px;
	line-height: 100%;
	color: white;
	position: absolute;
	top: -12px;
	right: 50px;
}

.site-button {
	position: relative;
	display: inline-block;
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
	font-size: 18px;
	line-height: 120%;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	color: black;
}

.site-button::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 220px;
	height: 8px;
	color: red;
	z-index: -1;
}

.description-slider .slider-1-paragraph {
	margin-bottom: 46px;
}

.description-slider .read-more {
	margin-bottom: 46px;
}

.slider-controls {
	position: absolute;
	bottom: 155px;
	right: 67px;
	z-index: 20;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin-right: 20px;
	vertical-align: top;
	background-color: transparent;
	border: 3px solid #b2b2b2;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
   border: 3px solid black;
}

.slide {
    display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

/*features*/

.features  {
	padding: 0;
	margin-bottom: 0;
}

.features-big {
	font-size: 36px;
	font-family: "Gilroy Light", sans-serif;
	line-height: 120%;
}

.features-small {
	font-size: 13px;
	font-family: "Open Sans Light", sans-serif;
	line-height: 20px;
}

.features-item {
	display: inline-block;
	padding: 0;
	padding-right: 80px;
}

.features-item:last-child {
	padding-right: 0;
}

.type-items {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 170px;
}

.type-items-content {
	float: left;
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
	font-size: 18px;
	line-height: 120%;
	color: black;
	text-decoration: none;
	min-height: 250px;
	width: 160px;
	margin-right: 40px;
}

.type-items-content:last-child {
	margin-right: 0;
}

.type-items-content div {
	height: 160px;
	width: 160px;
	background-color: #f7e296;
	margin-bottom: 33px;
}

.type-items-content div:hover {
	background-color: #f0c52e;
}


.type-items-bg-1 img{
	padding: 52px 32px;
}

.type-items-bg-2 img{
	padding: 43px 38px 34px;
}

.type-items-bg-3 img{
	padding: 39px 49px;
}

.type-items-bg-4 img{
	padding: 50px 26px;
}

.type-items-bg-5 img{
	padding: 32px 55px;
}

.type-items-bg-6 img{
	padding: 50px 13px;
}

.wrapper-services {
	height: 287px;
	background: #e4e4e4;
	margin-bottom: 95px;
}

.services-container {
	width: 1160px;
	margin: 0 auto;
}

.services-btn-container{
	position: relative;
	top: -101px;
	width: 276px;
	float: left;
	min-height: 325px;
	border-right: 7px solid black;
}

.services-btn {
	padding-left: 0;
	padding-top: 70px;
}

.services-btn li {
	margin-bottom: 35px;
	list-style: none;
}

.dilivery-btn,
.guarantee-btn,
.credit-btn {
	padding: 0 5px;
}

.dilivery-btn::before {
	width: 280px;
	min-height: 40px;
	background-color: black;
}

.dilivery {
	position: relative;
	margin-top: -70px;
	margin-left: 118px;
	width: 700px;
	float: left;
	background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    background-position: 558px 55px;
}

.dilivery h2 {
	margin-bottom: 25px;
}

.dilivery p {
	width: 460px;
}

.partners {
	margin-bottom: 90px;
}

.partners a {
	width: 260px;
	float: left;
	margin-right: 40px;
}

.partners img {
	opacity: 0.2;
}

.partners a:last-child {
	margin-right: 0;
}

.partner-hover {
	display: none;
}

.partner-picture:hover {
	display: none;
}

.partner-hover:hover {
	display: block;
	opacity: 1;
}

.about-us-container {
	position: relative;
	padding: 0 93px;
	margin-bottom: 78px;
}

.about-us {
	width: 475px;
	min-height: 570px;
	float: left;
}

.contacts {
	width: 560px;
	min-height: 570px;
	float: right;
}

.about-us:before,
.contacts:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 7px;
	background-color: black;
	top: -7px;
}

.about-us p {
	margin-bottom: 32px;
}

.about-us ul {
	margin-top: 65px;
	margin-bottom: 60px;
}

.about-us ul li{
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
	font-size: 16px;
	line-height: 40px;
	list-style: none;
	color: black;
}

.contacts p {
	margin-bottom: 40px;
}

.map {
	margin-bottom: 65px;
}

.breadcrumbs li {
	display: inline-block;
}

.left-column {
	width: 270px;
	min-height: 1290px;
	float: left;
	margin-right: 30px;
}

.title-right-column {
	min-height: 70px;
	margin-bottom: 70px;
}


.right-column {
	width: 800px;
	float: left;
}

.page-num {
	margin: 0;
	padding: 0;
	float: left;
}

.catalog-nav {
	width: 760px;
	min-height: 70px;
	background-color: #ebebeb;
	margin-bottom: 75px;
}

.catalog-nav li {
	display: inline-block;
	vertical-align: top;
}

.catalog-nav-prev {
	float: left;
}

.btn-prev {
	float: left;
	margin-right: 200px;
	padding-left: 30px;
}

.btn-next {
	float: right;
	padding-right: 30px;
}

.carts-product {
	margin-bottom: 50px;
}

.product-left {
	width: 365px;
	min-height: 470px;
	float: left;
}

.product-right {
	width: 365px;
	min-height: 470px;
	float: right;
}

/*Футер*/

.main-footer {
	min-height: 209px;
    padding-top: 67px;
    padding-bottom: 60px;
    background-color: #464646;
}

.footer-left {
	position: relative;
	width: 260px;
	min-height: 200px;
	float: left;
	margin-right: 106px;
}

.footer-left::before {
	content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    top: 170px;
}

.footer-left p {
	font-family: "Open Sans Light", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #ffffff;
}

.footer-container {
	width: 1160px;
	margin: 0 auto;
}

.footer-center {
	min-height: 130px;
	margin-top: 65px;
	width: 433px;
	float: left;
}

.footer-links {
	margin-bottom: 60px;
}

.social-buttons {
	
	width: 178px;
	margin: 0 auto;
}

.social-buttons a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 7px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
}

.footer-center-button {
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
	font-size: 18px;
	line-height: 120%;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	color: white;
}

.footer-center-button {
	padding-right: 30px;
}

.footer-center-button:last-child {
	padding-right: 0;
}

.social-btn-fb {
	background-image: url(../img/sprite.png);
	width: 39px;
    height: 38px;
    background-position: -74px -40px; 
}

.social-btn-inst {
	background-image: url(../img/sprite.png);
	width: 39px;
    height: 38px;
	background-position: -57px -98px;
}

.social-btn-tw {
	background-image: url(../img/sprite.png);
	width: 39px;
    height: 38px;
	background-position: -116px -134px;
}


.footer-right {
	position: relative;
	width: 360px;
	min-height: 208px;
	float: right;
	margin-top: -6px;
}

.footer-user-block {
	float: right;
	width: 335px;
	margin-right: 0;
	margin-bottom: 33px;
}

.phone-number {
	display: block;
	float: right;
	color: white;
}

.footer-user-item {
	position: relative;
	font-family: "Open Sans Light", "Times New Roman", sans-serif;
    font-size: 15px;
    line-height: 36px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer-enter {
	float: left;
	margin-left: 35px;;
}

.footer-basket {
	float: right;
	margin-left: 65px;
}

.footer-compare {
	float: right;
}

.footer-user-item::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 13px;
    background: url(../img/sprite.png) no-repeat;
}

.footer-enter::before {
    top: 12px;
    left: -25px;
    background-position: -133px -46px;
}

.footer-basket::before {
    top: 12px;
    left: -25px;
    background-position: -42px -10px;
}

.footer-compare::before {
    top: 14px;
    left: -21px;
    background-position: -104px -10px;
}

.htmlacademy-btn {
	position: absolute;
	width: 28px;
	height: 35px;
	bottom: 10px;
	right: 0px;
	font-size: 0;
}




