body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: "Open Sans Light", sans-serif;
	line-height: 30px;
	color: black;
	
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.title-2{
	font-size: 47px;
	line-height: 120%;
	font-family: "Gilroy ExtraBold", sans-serif;
}

.title-3 {
	font-size: 16px;
	font-family: "Gilroy ExtraBold", sans-serif;
}

.slider-1-title {
	padding: 0;
	margin: 0;
}

/*header*/

.logo {
	display: block;
	font-size: 48px;
	font-family: "Gilroy ExtraBold", sans-serif;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 20px;
}

.logo-footer {
	color: #f0c52e;
}


.main-header {
	width: 1160px;
	margin: 0 auto;
	height: 300px;
	background: #f7e296;
	margin-top: 40px;
	padding-top: 40px;
}

.main-header .logo {
	position: absolute;
	top: 26px;
	left: 153px;
	
}

.container {
	padding: 0 60px;
}

.search {
	position: relative;
  	margin-bottom: 20px;
	float: left;
	width: 450px;
	height: 50px;
}

.user-block {
	float: right;
	width: 475px;
}

.user-block-item {
	position: relative;
	float: right;
	font-family: "Open Sans Light", "Times New Roman", sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.user-block-item::before {
	content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 13px;
    background: url(../img/sprite.png) no-repeat;
}

.exit {
	float: left;
	margin-left: 0;
}

.basket {
	margin-left: 65px;
}

.exit::before {
	top: 12px;
	left: -25px;
	background-position: -10px -46px;
}

.compare::before {
	top: 14px;
	left: -21px;
    background-position: -74px -10px;
}

.basket::before {
	top: 12px;
	left: -25px;
	background-position: -10px -10px;
}

.menu {
	position: relative;
	clear: both;
}

.menu li {
	display: inline-block;
}

.menu  a {
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: black;
	line-height: 120%;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	text-decoration: none;
}

.list-menu {
	padding: 0;
	margin: 0;
}

.list-menu > li {
	position: relative;
}

.list-menu .sub-menu {
	position: absolute;
	left: -60px;
	display: none;
	margin: 0;
	padding: 0;
}

.list-menu > li:hover .sub-menu {
	display: block;
	width: 1100px;
	height: 200px;
	padding-left: 60px;
	background-color: #f7e296;
	z-index: 1;
}

.sub-menu a {
	font-family: "Open Sans Light", "Times New Roman", sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	color: black; 
	padding: 5px 0;
	margin-bottom: 20px;
	text-transform: none;
	letter-spacing: 1px;
}

.sub-menu li {
	min-width: 200px;
}

.catalog-products a {
	position: relative;
	padding-right: 319px;
}

.index-catalog::after{
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 20px;
	left: 20px;
	background-image: url(../img/sprite.png) no-repeat;
	background-position: -116px -98px;
}

.menu-divilery {
	padding-right: 30px;
}

.menu-guarantee {
	padding-right: 100px;
}

.menu-contacts {
	float: right;
}

/*sliders*/


.sliders {
	margin-top: -108px;
	margin-bottom: 110px;
}

.center {
	width: 1160px;
	height: 400px;
    margin: 0 auto;
	margin-bottom: 40px;
}

.sliders-content {
	position: relative;
    top: -152px;
   	min-height: 400px;
    padding-right: 50px;
}

.sliders-content img {
	padding-left: 90px;
}

.description-slider {
	margin-top: 80px;
	width: 510px;
	float: right;
}

.description-slider img {
	float: left;
}

.site-button {
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
	font-size: 18px;
	line-height: 120%;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	color: black;
}

/*features*/

.features  {
	padding: 0;
}

.features-big {
	font-size: 36px;
	font-family: "Gilroy Light", sans-serif;
	line-height: 120%;
}

.features-small {
	font-size: 13px;
	font-family: "Open Sans Light", sans-serif;
	line-height: 20px;
}

.features-item {
	display: inline-block;
	padding: 0;
	padding-right: 80px;
}

.features-item:last-child {
	padding-right: 0;
}

.type-items {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 170px;
}

.type-items-content {
	float: left;
	font-family: "Gilroy ExtraBold", "Times New Roman", sans-serif;
	font-size: 18px;
	line-height: 120%;
	color: black;
	text-decoration: none;
	min-height: 250px;
	width: 160px;
	margin-right: 40px;
}

.type-items-content:last-child {
	margin-right: 0;
}

.type-items-content div{
	height: 160px;
	width: 160px;
	background-color: #f7e296;
	margin-bottom: 33px;
}


.type-items-bg-1 img{
	padding: 52px 34px;
}

.type-items-bg-2 img{
	padding: 43px 38px 34px;
}

.type-items-bg-3 img{
	padding: 40px 50px;
}

.type-items-bg-4 img{
	padding: 50px 26px;
}

.type-items-bg-5 img{
	padding: 32px 55px;
}

.type-items-bg-6 img{
	padding: 50px 13px;
}

.wrapper-services {
	height: 287px;
	background: #e4e4e4;
	margin-bottom: 95px;
}

.services-container {
	width: 1160px;
	margin: 0 auto;
}

.services-btn-container{
	position: relative;
	top: -101px;
	width: 276px;
	float: left;
	min-height: 325px;
	border-right: 7px solid black;
}

.services-btn {
	padding-left: 0;
	padding-top: 70px;
}

.services-btn li {
	margin-bottom: 35px;
	list-style: none;
	
}

.dilivery {
	position: relative;
	margin-top: -70px;
	margin-left: 118px;
	width: 700px;
	float: left;
	background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    background-position: 558px 55px;
}

.dilivery h2 {
	margin-bottom: 25px;
}

.dilivery p {
	width: 460px;
}

.partners {
	margin-bottom: 105px;
}

.partners a {
	display: block;
	float: left;
	margin-right: 40px;
}

.partners img {
	opacity: 0.2;
}

.partners a:last-child {
	margin-right: 0;
}

.partner-hover {
	display: none;
}

.partner-picture:hover {
	display: none;
}

.partner-hover:hover {
	display: block;
}

.about-us {
	width: 460px;
	min-height: 570px;
	float: left;
}

.contacts {
	width: 560px;
	min-height: 570px;
	float: right;
}

.breadcrumbs li {
	display: inline-block;
}

.left-column {
	width: 270px;
	min-height: 1290px;
	float: left;
	margin-right: 30px;
}

.title-right-column {
	min-height: 70px;
	margin-bottom: 70px;
}


.right-column {
	width: 800px;
	float: left;
}

.page-num {
	margin: 0;
	padding: 0;
	float: left;
}

.catalog-nav {
	width: 760px;
	min-height: 70px;
	background-color: #ebebeb;
	margin-bottom: 75px;
}

.catalog-nav li {
	display: inline-block;
	vertical-align: top;
}

.catalog-nav-prev {
	float: left;
}

.btn-prev {
	float: left;
	margin-right: 200px;
	padding-left: 30px;
}

.btn-next {
	float: right;
	padding-right: 30px;
}

.carts-product {
	margin-bottom: 50px;
}

.product-left {
	width: 365px;
	min-height: 470px;
	float: left;
}

.product-right {
	width: 365px;
	min-height: 470px;
	float: right;
}

/*Футер*/

.main-footer {
	background: #474747;
}

.footer-left {
	width: 260px;
	min-height: 200px;
	float: left;
	padding-top: 42px;
	padding-right: 160px;
}

.footer-center {
	width: 440px;
	float: left;
	padding-top: 140px;
}

.footer-right {
	width: 360px;
	min-height: 208px;
	float: right;
}
